---
import Layout from '../layouts/Layout.astro';
import ContextAlert from '../components/ContextAlert.astro';
import Markdown from '../components/Markdown.astro';

const explainer = `
This is my website. I generally post about things I like - Legos, Minecraft, Pokemon and Soccer!
`;
---

<Layout title="Welcome to Astro.">
    <br /><br />
    <h1 class="mb-10">Welcome to the world of wittle_carrot</h1>
    <Markdown content={explainer} class="text-lg mb-10" />
    <div class="flex justify-center"><img src="/images/wittlecarrot.jpg" alt="Wittle Carrot" /></div>
    <br />
    <!-- <p class="mb-8">
        <a href="https://docs.netlify.com/frameworks/astro/" class="btn btn-lg btn-primary sm:btn-wide">Read the Docs</a>
    </p> -->
</Layout>
